<div class="panel panel-default">
  <div class="panel-heading" style="height: 55px">
    <h3 class="pull-left" style="margin-top: 5px;">Contacts</h3>
    <a routerLink="new" class="pull-right">
      <button class="btn btn-success">New Contact</button>
    </a>
  </div>
  <div class="panel-body">
    @for (contact of contacts; track contact.id) {
      <cms-contact-item [contact]="contact"></cms-contact-item>
    }
    <!-- <cms-contact-item
    *ngFor="let contactEl of contacts"
    [contact]="contactEl"
    ></cms-contact-item> -->
  </div>
</div>